/*quando criamos um arquivo module.css, ou .html, etc... significa que esse especificamente não vai interferir nos outros arquivos, apenas pra aqueles em que os destinamos

ex:

Header.jsx é um arquivo
Header.module.css é o arquivo que vai apenas estilizar o componente Header*/

/* Header.module.css */
.header {
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  height: 80px;
}

/* Estilização do img logo ignite, apenas diminuindo o tamanho */
.header img {
  height: 2rem;
}